.sixthmain {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.applynow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.title {
  text-align: center;
  margin-top: 3rem;
}
.buttons {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
